NEXT_PUBLIC_API_URL="https://your-backend-url.railway.app/api/v1"

# Firebase Config (Client SDK)
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDRscGf-b_VQ6Mgjg8FQdHN9M0tC59Mc6M"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="rohitgram-ec590.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="rohitgram-ec590"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="rohitgram-ec590.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="211302791723"
NEXT_PUBLIC_FIREBASE_APP_ID="1:211302791723:web:cf92f89bfdd6969dfd086e"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-4RE8SH4CFF"
